In [12]:
# Chargement des librairies
from cnaclib.rac_v2 import RAC_RRA
import pandas as pd
from datetime import datetime
import os

In [33]:
# Déclaration des paramètres

dateNaissance = '25/01/1966' 
dateRecrutement = '11/02/2005'
dateCompression =  '15/08/2021'
smm = float(60000)
genre='Un Homme'

In [34]:
# Instanciation de l'objet simulation
simul = RAC_RRA(dateRecrutement, dateCompression, smm, dateNaissance)

In [35]:
# Calcul de la durée d'experience 
dureeExperienceAnnee = simul.durexp()[0]
dureeExperienceMois = simul.durexp()[1]
dureeExperienceJours = simul.durexp()[2]
dureeExperienceValidee = f"Votre expérience calculée est égale à {dureeExperienceAnnee} an(s), {dureeExperienceMois} moi(s) & {dureeExperienceJours} jour(s)"

print(dureeExperienceValidee)

Votre expérience calculée est égale à 16 an(s), 6 moi(s) & 4 jour(s)

In [36]:
# Vérification de l'admission
admission = simul.admission()[0]

print(admission)

Si vous remplisez les conditions préalablement citées et selon votre expérience professionnelle calculée, vous pouvez bénéficier du Régime d'Assurance Chômage. Pour les besoins de la sumulation nous allons proposer une date d'admission en fonction des dates que vous avez fournies.

In [19]:
# Calcul de la date d'admission (théorique)
dateAdmission = simul.admission()[1].strftime("%d/%m/%Y")

print(dateAdmission)

15/09/2021

In [20]:
# Calcul de la durée de prise en charge en mois
dpc = simul.DPC()

print(str(dpc))

34

In [21]:
# Calcul de la COD mensuel
codMensuel = simul.COD()[0]

print(codMensuel)

48000.0

In [22]:
# Calcul de la COD totale
codTotale = simul.COD()[1]

print(codTotale)

672000.0

In [23]:
# Calcul de la date de fin de droit
dateFDD = simul.Date_FDD().strftime("%d/%m/%Y")

print(dateFDD)

15/07/2024

In [24]:
# Afficher le calendrier des indemnités 
tableau = simul.tableaux_Indemnites()
tableau

   Periode  Mois       Date Montant Indemnité Brut Cotisation SS (PS) Montant Indemnité Net Cotisation SS (PP)
0       P1     1 2021-10-15              40 000,00           3 400,00             36 600,00           3 000,00
1       P1     2 2021-11-15              40 000,00           3 400,00             36 600,00           3 000,00
2       P1     3 2021-12-15              40 000,00           3 400,00             36 600,00           3 000,00
3       P1     4 2022-01-15              40 000,00           3 400,00             36 600,00           3 000,00
4       P1     5 2022-02-15              40 000,00           3 400,00             36 600,00           3 000,00
5       P1     6 2022-03-15              40 000,00           3 400,00             36 600,00           3 000,00
6       P1     7 2022-04-15              40 000,00           3 400,00             36 600,00           3 000,00
7       P1     8 2022-05-15              40 000,00           3 400,00             36 600,00           3 000,00
8       P2     9 2022-06-15              32 000,00           2 720,00             29 280,00           3 000,00
9       P2    10 2022-07-15              32 000,00           2 720,00             29 280,00           3 000,00
10      P2    11 2022-08-15              32 000,00           2 720,00             29 280,00           3 000,00
11      P2    12 2022-09-15              32 000,00           2 720,00             29 280,00           3 000,00
12      P2    13 2022-10-15              32 000,00           2 720,00             29 280,00           3 000,00
13      P2    14 2022-11-15              32 000,00           2 720,00             29 280,00           3 000,00
14      P2    15 2022-12-15              32 000,00           2 720,00             29 280,00           3 000,00
15      P2    16 2023-01-15              32 000,00           2 720,00             29 280,00           3 000,00
16      P3    17 2023-02-15              24 000,00           2 040,00             21 960,00           3 000,00
17      P3    18 2023-03-15              24 000,00           2 040,00             21 960,00           3 000,00
18      P3    19 2023-04-15              24 000,00           2 040,00             21 960,00           3 000,00
19      P3    20 2023-05-15              24 000,00           2 040,00             21 960,00           3 000,00
20      P3    21 2023-06-15              24 000,00           2 040,00             21 960,00           3 000,00
21      P3    22 2023-07-15              24 000,00           2 040,00             21 960,00           3 000,00
22      P3    23 2023-08-15              24 000,00           2 040,00             21 960,00           3 000,00
23      P3    24 2023-09-15              24 000,00           2 040,00             21 960,00           3 000,00
24      P4    25 2023-10-15              20 000,00               0,00             20 000,00           3 000,00
25      P4    26 2023-11-15              20 000,00               0,00             20 000,00           3 000,00
26      P4    27 2023-12-15              20 000,00               0,00             20 000,00           3 000,00
27      P4    28 2024-01-15              20 000,00               0,00             20 000,00           3 000,00
28      P4    29 2024-02-15              20 000,00               0,00             20 000,00           3 000,00
29      P4    30 2024-03-15              20 000,00               0,00             20 000,00           3 000,00
30      P4    31 2024-04-15              20 000,00               0,00             20 000,00           3 000,00
31      P4    32 2024-05-15              20 000,00               0,00             20 000,00           3 000,00
32      P4    33 2024-06-15              20 000,00               0,00             20 000,00           3 000,00
33      P4    34 2024-07-15              20 000,00               0,00             20 000,00           3 000,00

In [37]:
# Calcul de l'âge à la date de fin de droits
age = simul.Age_Date_RRA()[0]
print(f"{age} ans ")

58 ans

In [39]:
# Calcul du nombre d'année d'anticipation
nbreAnnee=simul.Nombre_Annee_Ant(genre)

print(nbreAnnee)

2

In [42]:
# Calcul CFOD
cfod = simul.CFOD()

print(cfod)

255360.0

In [55]:
# Affichr tableau des cotisations prise en charge par la CNAC (pour la CNR)
tableau_CNR = simul.Cotis_CNR()

AnneeCNR = tableau_CNR[0]
MoisCNR = tableau_CNR[1]
PartPatronaleCNR = tableau_CNR[2]
dictionnaire = {"AnneeCNR": AnneeCNR, "MoisCNR":MoisCNR, "PartPatronaleCNR":PartPatronaleCNR}
df =pd.DataFrame(dictionnaire)
print(df)

    AnneeCNR  MoisCNR  PartPatronaleCNR
0          1        1            2800.0
1          1        2            2800.0
2          1        3            2800.0
3          1        4            2800.0
4          1        5            2800.0
5          1        6            2800.0
6          1        7            2800.0
7          1        8            2800.0
8          1        9            2800.0
9          1       10            2800.0
10         1       11            2800.0
11         1       12            2800.0
12         2        1            2800.0
13         2        2            2800.0
14         2        3            2800.0
15         2        4            2800.0
16         2        5            2800.0
17         2        6            2800.0
18         2        7            2800.0
19         2        8            2800.0
20         2        9            2800.0
21         2       10            2800.0
22         2       11            2800.0
23         2       12            2800.0